{% extends './layout.html' %}
{% block body %}

<!-- -----------------Alertas de registro, editado, borrado y restaurado---------------------------- -->
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{% if " Error" in message %}danger {% elif "Advertencia" in message %}warning {% else %}success
  {% endif %} alert-dismissible fade show" role="alert">
  <strong>{{message}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<!-- -------------------------------------------------------------------------- -->

<form method="POST" action="{{url_for('usuarios.usuario_actualizar',id=usuario[0])}}">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
    <div>
        <label for="nombre_usuario">Nombre(s)</label>
        <input type="text" id="nombre_usuario" placeholder="Nombre Usuario" name="nombre_usuario" value="{{usuario[1]}}">
    </div>
    <div>
        <label for="apellido_pat">Apellido Paterno</label>
        <input type="text" id="apellido_pat" placeholder="Apellido Paterno" name="apellido_pat" value="{{usuario[3]}}">
    </div>
    <div>
        <label for="apellido_mat">Apellido Materno</label>
        <input type="text" id="apellido_mat" placeholder="Apellido Materno" name="apellido_mat" value="{{usuario[2]}}">
    </div>
    <div>
        <label for="correo_usuario">Correo Electronico</label>
        <input type="text" id="correo_usuario" placeholder="Correo Electronico" name="correo_usuario" value="{{usuario[4]}}">
    </div>

    <div>
        <label for="contrasenia">Contraseña</label>
        <input type="password" name="contrasenia" id="contrasenia">
    </div>

    <div class="text-center">
        <a href="{{url_for('usuarios.usuariosBuscar')}}">
          Cancelar
        </a>
        <button type="submit">
          Guardar
        </button>
      </div>

</form>
{% endblock %}