{% extends './layout.html' %}
{% block body %}
<h2>Usuarios</h2>
<br>
<!-- -----------------Alertas de registro, editado, borrado y restaurado---------------------------- -->
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{% if " Error" in message %}danger {% elif "Advertencia" in message %}warning {% else %}success
        {% endif %} alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<!-- -------------------------------------BUSCADOR------------------------------------------ -->
<div>
        <div>
                <h2></h2>
        </div>
        <div>
                <form method="get" action="{{ url_for('usuarios.usuariosBuscar') }}" class="d-flex">
                        <input class="form-control" type="text" name="buscar" value="{{ search_query }}"
                                placeholder="Buscar..." required>
                        <button type="submit"><i class="fas fa-search"></i> </button>
                </form>
        </div>


        <!-- --------------------------------------NUEVO USUARIO ------------------------------------- -->
        <div><a href="{{url_for('usuarios.usuario_agregar')}}">Nuevo</a></div>

        <!-- ------------------------------TABLE -------------------------------- -->
        <table>
                <thead>
                        <tr>
                                <th>Ver</th>
                                <th>Nombre</th>
                                <th>Apellido paterno</th>
                                <th>Apellido materno</th>
                                <th>Correo</th>
                                <th>Editar</th>
                                <th>Eliminar</th>
                        </tr>
                </thead>
                <tbody>
                        {% if usuarios %}
                        {% for usuario in usuarios %}
                        {% if usuario.estado == True %}
                        <tr>
                                <td>
                                        <div>
                                                <a href="{{url_for('usuarios.usuario_detalles',id = usuario.id_usuario)}}">Ver mas</a>
                                        </div>
                                </td>
                                <td>{{usuario.nombre_usuario}}</td>
                                <td>{{usuario.apellido_pat}}</td>
                                <td>{{usuario.apellido_mat}}</td>
                                <td>{{usuario.correo_usuario}}</td>
                                <td>
                                        <div>
                                                <a href="{{ url_for('usuarios.usuario_editar', id = usuario.id_usuario) }}">Editar</a>
                                        </div>
                                </td>
                                <td>
                                        <button type="button" data-bs-toggle="modal"
                                                data-bs-target="#staticBackdrop-{{usuario.id_usuario}}">
                                        </button>
                                </td>
                                {% endif %}
                                {% endfor %}
                                {% else %}
                        <tr>
                                <td align="center" colspan="8">No existen usuarios</td>
                        </tr>
                        {% endif %}
                        </tr>
                </tbody>
        </table>
        <!-- -------------------------------------------------PAGINADOR----------------------------------------------- -->
        <nav aria-label="Page navigation example" class="justify-content-center">
                <ul class="pagination justify-content-center" style="margin:20px 0">
                        {% if page > 1 %}
                        <li class="page-item">
                                <a class="page-link"
                                        href="{{url_for('usuariosBuscar')}}?page={{ page - 1 }}&per_page={{ per_page }}"
                                        aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                </a>
                        </li>
                        {% if page != 1 and page != 2 %}
                        <li class="page-item"><a class="page-link" href="{{url_for('usuariosBuscar')}}">1</a></li>
                        {% if page != 3 %}
                        <li class="page-item"><a class="page-link disabled">...</a></li>
                        {% endif %}
                        {% endif %}
                        <li class="page-item"><a class="page-link"
                                        href="{{url_for('usuariosBuscar')}}?page={{ page - 1 }}&per_page={{ per_page }}">{{page-1}}</a>
                        </li>
                        {% endif %}

                        <li class="page-item"><a class="page-link active" href="#">{{page}}</a></li>

                        {% if page < total_pages %} <li class="page-item"><a class="page-link"
                                        href="{{url_for('usuariosBuscar')}}?page={{ page + 1 }}&per_page={{ per_page }}">{{page+1}}</a>
                                </li>
                                {% if page != total_pages and page != total_pages-1 %}
                                {% if page != total_pages-2 %}
                                <li class="page-item"><a class="page-link disabled">...</a></li>
                                {% endif %}
                                <li class="page-item"><a class="page-link"
                                                href="{{url_for('usuariosBuscar')}}?page={{ total_pages }}&per_page={{ per_page }}">{{total_pages}}</a>
                                </li>
                                {% endif %}
                                <li class="page-item">
                                        <a class="page-link"
                                                href="{{url_for('usuariosBuscar')}}?page={{ page + 1 }}&per_page={{ per_page }}"
                                                aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                        </a>
                                </li>
                                {% endif %}
                </ul>
        </nav>

        <!-- --------------------------------------------------MODAL--------------------------------------------------- -->
        {% if usuarios %}
        {% for usuario in usuarios %}
        <div class="modal fade" id="staticBackdrop-{{usuario.id_usuario}}" data-bs-backdrop="static"
                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                        <div class="modal-content">
                                <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Confirmar acción</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                        ¿Deseas eliminar a <strong>{{ usuario.nombre_usuario }} {{
                                                usuario.apellido_pat}}</strong>?
                                </div>
                                <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Cancelar</button>
                                        <a class="btn btn-danger"
                                                href="{{ url_for('usuarios.usuario_eliminar', id = usuario.id_usuario) }}"
                                                class="btn-delete"><i class="fas fa-trash-alt"></i>Eliminar</a>
                                </div>
                        </div>
                </div>
        </div>
        {% endfor %}
        {% else %}
        {% endif %}

{% endblock %}