{% extends './layout.html' %}
{% block body %}

<body>
    <div class="grid-container">
        <div class="card">
            <h3>Listado Maestro de Documentos</h3>
            <a href=""></a>
        </div>
        <div class="card">
            <h3>Informe de Revision por la Direccion</h3>
            <p>Contenido de la tarjeta 2.</p>
        </div>
        <div class="card">
            <h3>Listado de Distribucion de Documentos</h3>
            <p>Contenido de la tarjeta 3.</p>
        </div>
        <div class="card">
            <h3>Tarjeta 4</h3>
            <p>Contenido de la tarjeta 4.</p>
        </div>
        <div class="card">
            <h3>Tarjeta 5</h3>
            <p>Contenido de la tarjeta 5.</p>
        </div>
        <div class="card">
            <h3>Tarjeta 6</h3>
            <p>Contenido de la tarjeta 6.</p>
        </div>
        <div class="card">
            <h3>Tarjeta 7</h3>
            <p>Contenido de la tarjeta 7.</p>
        </div>
        <div class="card">
            <h3>Tarjeta 8</h3>
            <p>Contenido de la tarjeta 8.</p>
        </div>
        <div class="card">
            <h3>Tarjeta 9</h3>
            <p>Contenido de la tarjeta 9.</p>
        </div>
    </div>
</body>

{% endblock %}